body{
width:100%;
height:100vh;
margin:auto;
background:url("background1.jpg");
background-size: 100%;
background-attachment: fixed; 
}
#center{
width:100%;
float:center;
height:10vh;
background:linear-gradient(#3e90ff,#29528a);
position:fixed;
z-index :1;
box-shadow: 0px 2px 2px #222222;
}
#center1{
float:left;
width:15%;
height:10vh;
margin-left:3%;
}
#center2{
float:right;
width:15%;
height:9.6vh;
margin-left:0.5%;
margin-top:1.2%;
font-size:130%;
text-shadow:1px 1px 1px #000000;
color:white;
}
#center3{
float:right;
width:5%;
text-align:right;
font-size:200%;
height:9.6vh;
margin-top:0.5%;
}
#center4{
float:right;
width:40%;
height:9.6vh;
margin-top:1%;
font-size:200%;
color:white;
text-shadow:1px 1px 1px black;
font-weight:bold;
}
#logo1{
height:10vh;
width:60%;
}
#logo2{
height:11.1vh;
width:36%;
border-radius:10%;
border:1px solid;
}
#logo3{
height:6vh;
width:100%;
opacity:0.9;
}
#logo4{
height:5vh;
width:20%;
}
#logo5{
height:5vh;
width:30%;
}
#logo6{
height:8vh;
width:90%;
border-radius: 100%;
}
#logo7{
height:15vh;
width:40%;
margin-left:3%;
}
#logo8{
height:5vh;
width:22%;
}
#logo9{
height:5vh;
width:20%;
}
#logo10{
height:5vh;
width:20%;
}
#logo11{
height:5vh;
width:15%;
}
#left{
width:15%;
float:left;
height:100vh;
background: -moz-linear-gradient(top,rgba(225,0,0,0),rgba(225,0,0,1));
background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1));
background-color:rgba(255,255,255,0.7);
border-right:1.5px solid;
position:fixed;
margin-top:10vh;
text-align:center;
}
.left{
font-size:150%;
height:10vh;
margin-top:5%;
}
#left8{
font-size:100%;
color:white;
text-shadow:1px 1px 1px #000000;
margin-top:0.1%;
}
#left7{
margin-top:5%;
height:8vh;
}
#left6{
margin-top:10%;
}
#right1{
margin-left:5%;
margin-top:1%;
}
a:active{
color:black;
}
a:link{
color:black;
text-decoration:none;
}
a:visited{
color:black;
text-decoration:none;
}
#link1:hover{
	text-decoration: underline #5f3100;
}
#link1:link{
color:#006cff;
text-shadow:1px 1px 1px #000000;
}
#link2:hover{
	text-decoration: underline #006cff;
}
#link2:link{
color:white;
}
#right{
width:85%;
float:right;
height:auto;
margin-bottom:5%;
margin-top:15vh;
opacity:0.9;
}
#right1{
float:center;
height:auto;
width:auto;
margin-left:0.5%;
margin-right:0.5%;
}
#Table{
float:center;
width:auto;
height:auto; 
font-size:90%;
font-weight:bold;
font-family:arial;
}
.box{
text-align:left;
border:1px solid white;
height:9vh;
width:5.2%;
float:left;
margin-left:1px;
margin-bottom:1px;
margin-right:1px;
box-shadow: 3px 4px 2px black;
}
.space{
border:1px solid rgba(0,0,0, 0.0);
height:9vh;
width:5.2%;
float:left;
margin-left:1px;
margin-right:1px;
margin-bottom:1px;
color:#ffff00;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-align:center;
font-size:100%;
}
.crate{
border:1px solid white;
height:6vh;
width:7%;
float:left;
margin-top:2%;
margin-left:1%;
box-shadow: 3px 4px 2px black;
text-align:center;
}
.galaxy{
border:1px solid rgba(0,0,0,0.0);
height:5vh;
width:5.2%;
float:left;
margin-left:1px;
margin-right:1px;
margin-bottom:1px;
}
#box19{background: linear-gradient(#8dcff4, #00a8ec);}
#box50{background: linear-gradient(#8dcff4, #00a8ec);}
#box51{background: linear-gradient(#8dcff4, #00a8ec);}
#box52{background: linear-gradient(#8dcff4, #00a8ec);}
#box69{background: linear-gradient(#8dcff4, #00a8ec);}
#box70{background: linear-gradient(#8dcff4, #00a8ec);}
#box88{background: linear-gradient(#8dcff4, #00a8ec);}
#box49{background: linear-gradient(#8cccca, #00a49d);}
#box68{background: linear-gradient(#8cccca, #00a49d);}
#box87{background: linear-gradient(#8cccca, #00a49d);}
#box86{background: linear-gradient(#8cccca, #00a49d);}
#box105{background: linear-gradient(#8cccca, #00a49d);}
#box106{background: linear-gradient(#8cccca, #00a49d);}
#box124{background: linear-gradient(#8cccca, #00a49d);}
#box36{background: linear-gradient(#9681b6, #3d107b);}
#box54{background: linear-gradient(#9681b6, #3d107b);}
#box72{background: linear-gradient(#9681b6, #3d107b);}
#box90{background: linear-gradient(#9681b6, #3d107b);}
#box108{background: linear-gradient(#9681b6, #3d107b);}
#box126{background: linear-gradient(#9681b6, #3d107b);}
#box144{background: linear-gradient(#9681b6, #3d107b);}
#box53{background: linear-gradient(#93a9d5, #676eb0);}
#box71{background: linear-gradient(#93a9d5, #676eb0);}
#box89{background: linear-gradient(#93a9d5, #676eb0);}
#box107{background: linear-gradient(#93a9d5, #676eb0);}
#box125{background: linear-gradient(#93a9d5, #676eb0);}
#box143{background: linear-gradient(#93a9d5, #676eb0);}
#box67{background: linear-gradient(#7cc623, #007520)}
#box85{background: linear-gradient(#7cc623, #007520)}
#box103{background: linear-gradient(#7cc623, #007520)}
#box104{background: linear-gradient(#7cc623, #007520)}
#box121{background: linear-gradient(#7cc623, #007520)}
#box122{background: linear-gradient(#7cc623, #007520)}
#box123{background: linear-gradient(#7cc623, #007520)}
#box139{background: linear-gradient(#7cc623, #007520)}
#box140{background: linear-gradient(#7cc623, #007520)}
#box141{background: linear-gradient(#7cc623, #007520)}
#box142{background: linear-gradient(#7cc623, #007520)}
#box111{background: linear-gradient(#c8e19d, #7cc623)}
#box163{background: linear-gradient(#c8e19d, #7cc623)}
#box164{background: linear-gradient(#c8e19d, #7cc623)}
#box165{background: linear-gradient(#c8e19d, #7cc623)}
#box166{background: linear-gradient(#c8e19d, #7cc623)}
#box167{background: linear-gradient(#c8e19d, #7cc623)}
#box168{background: linear-gradient(#c8e19d, #7cc623)}
#box169{background: linear-gradient(#c8e19d, #7cc623)}
#box170{background: linear-gradient(#c8e19d, #7cc623)}
#box171{background: linear-gradient(#c8e19d, #7cc623)}
#box172{background: linear-gradient(#c8e19d, #7cc623)}
#box173{background: linear-gradient(#c8e19d, #7cc623)}
#box174{background: linear-gradient(#c8e19d, #7cc623)}
#box175{background: linear-gradient(#c8e19d, #7cc623)}
#box176{background: linear-gradient(#c8e19d, #7cc623)}
#box177{background: linear-gradient(#c8e19d, #7cc623)}
#box181{background: linear-gradient(#79c471, #006a25)}
#box182{background: linear-gradient(#79c471, #006a25)}
#box183{background: linear-gradient(#79c471, #006a25)}
#box184{background: linear-gradient(#79c471, #006a25)}
#box185{background: linear-gradient(#79c471, #006a25)}
#box186{background: linear-gradient(#79c471, #006a25)}
#box186{background: linear-gradient(#79c471, #006a25)}
#box187{background: linear-gradient(#79c471, #006a25)}
#box188{background: linear-gradient(#79c471, #006a25)}
#box189{background: linear-gradient(#79c471, #006a25)}
#box190{background: linear-gradient(#79c471, #006a25)}
#box191{background: linear-gradient(#79c471, #006a25)}
#box192{background: linear-gradient(#79c471, #006a25)}
#box193{background: linear-gradient(#79c471, #006a25)}
#box194{background: linear-gradient(#79c471, #006a25)}
#box195{background: linear-gradient(#79c471, #006a25)}
#box129{background: linear-gradient(#79c471, #006a25)}
#box75{background: linear-gradient(#fff99d, #e5e100)}
#box76{background: linear-gradient(#fff99d, #e5e100)}
#box77{background: linear-gradient(#fff99d, #e5e100)}
#box78{background: linear-gradient(#fff99d, #e5e100)}
#box79{background: linear-gradient(#fff99d, #e5e100)}
#box80{background: linear-gradient(#fff99d, #e5e100)}
#box81{background: linear-gradient(#fff99d, #e5e100)}
#box82{background: linear-gradient(#fff99d, #e5e100)}
#box83{background: linear-gradient(#fff99d, #e5e100)}
#box84{background: linear-gradient(#fff99d, #e5e100)}
#box93{background: linear-gradient(#fff99d, #e5e100)}
#box94{background: linear-gradient(#fff99d, #e5e100)}
#box95{background: linear-gradient(#fff99d, #e5e100)}
#box96{background: linear-gradient(#fff99d, #e5e100)}
#box96{background: linear-gradient(#fff99d, #e5e100)}
#box97{background: linear-gradient(#fff99d, #e5e100)}
#box98{background: linear-gradient(#fff99d, #e5e100)}
#box99{background: linear-gradient(#fff99d, #e5e100)}
#box100{background: linear-gradient(#fff99d, #e5e100)}
#box101{background: linear-gradient(#fff99d, #e5e100)}
#box102{background: linear-gradient(#fff99d, #e5e100)}
#box112{background: linear-gradient(#fff99d, #e5e100)}
#box113{background: linear-gradient(#fff99d, #e5e100)}
#box114{background: linear-gradient(#fff99d, #e5e100)}
#box115{background: linear-gradient(#fff99d, #e5e100)}
#box116{background: linear-gradient(#fff99d, #e5e100)}
#box117{background: linear-gradient(#fff99d, #e5e100)}
#box118{background: linear-gradient(#fff99d, #e5e100)}
#box119{background: linear-gradient(#fff99d, #e5e100)}
#box120{background: linear-gradient(#fff99d, #e5e100)}
#box130{background: linear-gradient(#fff99d, #e5e100)}
#box131{background: linear-gradient(#fff99d, #e5e100)}
#box132{background: linear-gradient(#fff99d, #e5e100)}
#box133{background: linear-gradient(#fff99d, #e5e100)}
#box134{background: linear-gradient(#fff99d, #e5e100)}
#box135{background: linear-gradient(#fff99d, #e5e100)}
#box136{background: linear-gradient(#fff99d, #e5e100)}
#box137{background: linear-gradient(#fff99d, #e5e100)}
#box138{background: linear-gradient(#fff99d, #e5e100)}
#box37{background: linear-gradient(#ff2525, #6f0000)}
#box55{background: linear-gradient(#ff2525, #6f0000)}
#box73{background: linear-gradient(#ff2525, #6f0000)}
#box91{background: linear-gradient(#ff2525, #6f0000)}
#box109{background: linear-gradient(#ff2525, #6f0000)}
#box127{background: linear-gradient(#ff2525, #6f0000)}
#box38{background:linear-gradient(#f09450, #e8641b)}
#box56{background:linear-gradient(#f09450, #e8641b)}
#box74{background:linear-gradient(#f09450, #e8641b)}
#box92{background:linear-gradient(#f09450, #e8641b)}
#box110{background:linear-gradient(#f09450, #e8641b)}
#box128{background:linear-gradient(#f09450, #e8641b)}
#box200{background: linear-gradient(#ff2525, #6f0000)}
#box201{background:linear-gradient(#f09450, #e8641b)}
#box202{background: linear-gradient(#fff99d, #e5e100)}
#box203{background: linear-gradient(#7cc623, #007520)}
#box204{background: linear-gradient(#8cccca, #00a49d);}
#box205{background: linear-gradient(#8dcff4, #00a8ec);}
#box206{background: linear-gradient(#93a9d5, #676eb0);}
#box207{background: linear-gradient(#9681b6, #3d107b);}
#box208{background: linear-gradient(#c8e19d, #7cc623)}
#box209{background: linear-gradient(#79c471, #006a25)}
#box26{background: linear-gradient(#c1c1c1, #737373)}
#box147{
	border-left:1px dashed white;
	border-right:1px dashed white;
}
#box212{
	font-size:75%;
	border-left:1px dashed white;
	border-right:1px dashed white;
}
#box180{
	font-size:75%;
	border-left:1px dashed white;
	border-right:1px dashed white;
}
.number{
	 float:left;
	 font-size:70%;
	 font-weight:normal;
}
.symbol{
	text-align:center;
	float:center;
	font-size:128%;
	margin-right:10%;
	z-index:1;
}
.word{
	text-align:center;
	float:center;
    font-weight:normal;
	font-size:70%
}
.sample1{
	float:left;
	font-size:55%;
	font-weight:normal;
}
.sample2{
    text-align:center;
	float:center;
	font-size:110%;
	margin-right:10%;
}
.sample3{
	text-align:center;
	float:center;
    font-weight:normal;
	font-size:60%
}
.box{transition: all .3s ease-in-out;}
.box:hover{ transform: scale(1.2); color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
.crate1{margin-top:12%;}
#box111{transition:.3s;}
#box129{transition:.3s;}
#box111:hover{ transform: none;}
#box129:hover{ transform: none;}


